name: CI

on:
  pull_request:
    paths:
      - tsconfig.json
      - '**/*.ts'
      - import-map.json
      - .github/workflows/ci.yml
  workflow_call:

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: denoland/setup-deno@v1  # using ourself to install deno could compromise the tests
      - run: deno task test

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: teaxyz/setup@v0
      - run: tea deno lint src/*/**.ts

  typecheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: teaxyz/setup@v0
      - run: tea deno task typecheck

  # in situations without `git` we had a softlock problem that we're testing for here
  test-sync-lock:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
        - os: ubuntu-latest
        - os: macos-latest
        - os: ubuntu-latest
          container: debian:buster-slim
        - os: ubuntu-latest
          container: archlinux:latest
    container: ${{ matrix.container }}
    steps:
      - uses: actions/checkout@v3

      # denoland/setup requires `unzip` to be installed
      - run: apt-get update && apt-get install unzip
        if: ${{ matrix.container == 'debian:buster-slim' }}
      - run: pacman -Sy --noconfirm unzip
        if: ${{ matrix.container == 'archlinux:latest' }}

      - uses: teaxyz/setup@v0

      - run: tea deno task --config $GITHUB_WORKSPACE/deno.jsonc compile
        working-directory: /usr/local/bin

      - run: tea -S +gnu.org/wget wget -L tea.xyz/white-paper/ | tea -S +charm.sh/glow glow -
