name: CI

on:
  pull_request:
    paths:
      - deno.jsonc
      - '**/*.ts'
      - import-map.json
      - .github/workflows/ci.yml
  workflow_call:

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-on-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/cache
      - uses: Vampire/setup-wsl@v2
      - uses: denoland/setup-deno@v1
      - run: deno task test --coverage=cov_profile
        shell: wsl-bash {0}

  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/cache  # avoids sporadic 500s from deno’s CDN
      - uses: denoland/setup-deno@v1   # using ourself to install deno could compromise the tests
      - run: deno task test --coverage=cov_profile
      - run: deno coverage cov_profile --lcov --output=cov_profile.lcov
      - uses: coverallsapp/github-action@v1
        with:
          path-to-lcov: cov_profile.lcov
          parallel: true
          flag-name: ${{ matrix.os }}

  upload-coverage:
    needs: tests
    if: ${{ always() }}
    runs-on: ubuntu-latest
    steps:
    - uses: coverallsapp/github-action@v1
      with:
        parallel-finished: true

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: teaxyz/setup@v0
      - run: deno lint src/*/**.ts

  typecheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/cache  # avoids sporadic 500s from deno’s CDN
      - uses: teaxyz/setup@v0
      - run: deno task typecheck
