name: CI

on:
  pull_request:
    paths:
      - deno.jsonc
      - '**/*.ts'
      - import-map.json
      - .github/workflows/ci.yml
  workflow_call:

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/cache  # avoids sporadic 500s from deno’s CDN
      - uses: denoland/setup-deno@v1   # using ourself to install deno could compromise the tests
      - run: deno task test --coverage=cov_profile
      - run: deno coverage cov_profile --lcov --output=cov_profile.lcov
      - name: coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: cov_profile.lcov
          parallel: true

  finish-tests:
    needs: test
    if: ${{ always() }}
    runs-on: ubuntu-latest
    steps:
    - name: Coveralls Finished
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        parallel-finished: true

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: teaxyz/setup@v0
      - run: deno lint src/*/**.ts

  typecheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/cache  # avoids sporadic 500s from deno’s CDN
      - uses: teaxyz/setup@v0
      - run: deno task typecheck
