name: CI

on:
  pull_request:
    paths:
      - deno.jsonc
      - '**/*.ts'
      - import-map.json
      - .github/workflows/ci.yml
  workflow_call:

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

env:
  DENO_DIR: ~/.cache/deno  # the tilde seems to get expanded by all parties

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/cache    # avoids sporadic 500s from deno’s CDN
      - uses: denoland/setup-deno@v1   # using ourself to install deno could compromise the tests
      - run: deno info
      - run: deno task test

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: teaxyz/setup@v0
      - run: deno lint src/*/**.ts

  typecheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/cache    # avoids sporadic 500s from deno’s CDN
      - uses: teaxyz/setup@v0
      - run: deno info
      - run: deno task typecheck
